node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

public/images/*/*
public/videos/*/*
/public/build
*.map
public/dist/*
public/js/*
public/mix-manifest.json

storage/uploads/*
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

.DS_Store
.AppleDouble
*.sql

.lock*
.~lock*
*Zone.Identifier

var/*
var

storage/framework/sessions/*
storage/framework/sessions

.well-known

# Ignore IDE specific files
.php-cs-fixer.dist.php